
@{
    ViewBag.Title = "edituser";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@using ecommerce.Models

<div class="container">
    <form action="~/Admin/updateuser/@Model.UserId" method="post" class="was-validated" enctype="multipart/form-data">
        <div class="form-group">
            <label for="uname">UserName:</label>
            <input type="text" class="form-control" id="uname" placeholder="UserName" name="UserName" value="@Model.UserName" required>
        </div>
        <div class="form-group">
            <label for="uname">UserEmail:</label>
            <input type="text" class="form-control" id="uname" placeholder="UserEmail" name="UserEmail" value="@Model.UserEmail" required>
        </div>
        <div class="form-group">
            <label for="uname">UserNumber:</label>
            <input type="text" class="form-control" id="uname" placeholder="UserNumber" name="UserNumber" value="@Model.UserNumber" required>
        </div>
        <div class="form-group">
            <label for="pwd">UserPhoto:</label>
            <input type="file" class="form-control" id="pwd" placeholder="UserPhoto" name="UserPhoto" value="@Model.UserPhoto" formenctype="multipart/form-data">
        </div>
        <div class="form-group">
            <label for="pwd">UserBalans:</label>
            <input type="text" class="form-control" id="pwd" placeholder="UserBalans" name="UserBalans" value="@Model.UserBalans" formenctype="multipart/form-data">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

